@charset "utf-8";
* {
    font-family: "微软雅黑";
    margin: 0;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    display: block;
}

body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
    color: #222;
    font-size: 14px;
    background-color: #E7E8EB;
}

input,
textarea,
button,
a {
    color: #333;
    outline: 0;
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

a:focus,
a:hover {
    color: #d9534f;
    text-decoration: none;
}

ul,
ol {
    padding-left: 0;
    list-style-type: none
}

input[type="text"] {
    height: 34px;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.text-l {
    text-align: left
}


/*水平居左*/

.text-r {
    text-align: right
}


/*水平居中*/

.text-c {
    text-align: center
}


/*水平居右*/

.va * {
    vertical-align: sub!important;
    *vertical-align: middle!important;
    _vertical-align: middle!important
}

.va-t {
    vertical-align: top!important
}


/*上下居顶*/

.va-m {
    vertical-align: middle!important
}


/*上下居中*/

.va-b {
    vertical-align: bottom!important
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.menu {
    /* background-color: #d9534f; */
    padding: 0;
    width: 850px;
}

.menu a {
    display: inline-block;
    text-align: center;
    border: none;
    width: 12%;
    height: 45px;
    line-height: 45px;
    color: #000;
    font-weight: bold;
}

.menu a:hover {
    color: #fff;
    background-color: #d9534f;
}